html,body {
	background-color: #FFFFFF;
	width: 100%;
  height: 100%;
}
header {
	text-align: center;	/*ヘッダーブロックの内容をセンタリングする設定*/
  width: 100%;
	height: 30%;
  background-color: #70acbc;
}
img {
  border: none;
  max-width: 50%;
  height: auto;
  vertical-align: middle;
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form {
  text-align: center;
  color: #4d3124;
  font-family: "Century Gothic", sans-serif;
  font-size: 20px;
  padding: 0px;
  font-size: 100%;
}
